.header {
  font-size: 42px;
  line-height: 44px;
  font-weight: 500;
  margin-top: 20px;
  background-color: rgb(110, 214, 255);
  width: 100%;
  text-align: center;
  min-height: 100px;
  display: flex;
}
.header p {
  justify-content: center;
}
.navigation {
  margin-top: 20px;
}
.form-input {
  margin-top: 20px;
} 
.warning {
  color:rgb(247, 65, 65)
}