.header {
  font-size: 42px;
  line-height: 44px;
  font-weight: 500;
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  min-height: 100px;
  display: flex;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 110, 82);
}
.header p {
  justify-content: center;
}

.navigation {
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 20px 0;
}
.form-input {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px 0;
} 
.form-input h1 {
  color: #006e52;
}
.form-input svg {
  fill: rgb(0,110, 82);
}

.warning {
  color:rgb(247, 65, 65)
}
.pagination nav{
  margin: auto 0;
}
.list-user {
 margin: 0;
}